# ===============================
# FRONTEND (Node / Vite)
# ===============================
node_modules/
dist/
.vite/
frontend/node_modules/

# ===============================
# BACKEND (Python / Django)
# ===============================
backend/.venv/
backend/venv/
backend/.env
backend/__pycache__/
backend/backend/__pycache__/
backend/api/__pycache__/
backend/api/migrations/__pycache__/
backend/*.sqlite3
backend/.pytest_cache/

# ===============================
# ENVIRONMENTS
# ===============================
.env
env/
env

# ===============================
# OS / EDITOR FILES
# ===============================
.DS_Store
Thumbs.db

# ===============================
# LOGS / LOCAL DATA
# ===============================
*.log
